<template>
    <div class="container">
        <div class="head">
            <h1>What is this?</h1>
            <p>Emoji domain, duh.</p>
            <h1>But why??</h1>
            <p>See above.</p>
            <h1>How??</h1>
            <p>Thanks to <a href="https://domainoji.com">Domainoji</a> && <a href="https://iwantmyname.com">iwantmyname</a></p>
            <h1>It's pretty rad. 🤙</h1>
            <p>Sure is!</p>
            <br/>
            <br/>
            <h1>🌗🌓</h1>
        </div>
        <div class="footer">
            Made with 🧠 by <pre>dawson</pre>
        </div>
    </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style lang="sass" scoped>
.container
    .head
        text-align: center
        margin-top: 10vh
</style>
